nav {
  .logo {
    img {
      @include img(60%, contain, auto);
    }
  }
  #navlist {
    @include flex(center, space-around);
    li {
      @include li(none, none);
      a {
        @include alink(none, gray, 16px);
      }
    }
  }
  .icon-nav {
    position: relative;
    @include flex(center, space-between);
    .absolute-icon {
      @include position(
        absolute,
        32px,
        23px,
        $maincolor,
        white,
        12px,
        50%,
        2px 7px
      );
    }
    img {
      @include img(30px, cover, 30px);
    }
  }
  @media (max-widht: 576px) {
    position: relative;
    overflow: hidden;
    z-index: +5;
  }
  @media screen and (min-width: 390px) and (max-width: 414px) {
    .logo {
      img {
        width: 20%;
      }
    }
    .icon-nav {
      margin-top: 18px;
    }
    .listsnav {
      @include secondposition(
        10px,
        absolute,
        100%,
        88px,
        0,
        0,
        white,
        translateX(-500px),
        0.3s ease-in-out
      );
      ul {
        @include ulnav(0, column);
        li {
          padding: 12px 0px;
        }
      }
    }
    .absolute-icon {
      width: 20px;
      left: 244px;
    }
  }
}
header {
  position: relative;
  z-index: -1;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 390px) and (max-width: 414px) {
  .main-list {
    flex-direction: column;
    gap: 10px;
  }
}
#head-main {
  .main-list {
    @include flex(center, space-around);
    li {
      @include li(none, none);
      a {
        @include alink(none, $lightgray, 17px);
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}
#cards-row1 {
  .cards {
    position: relative;
    img {
      @include img(100%, cover, auto);
    }
    .icon-heart {
      @include positionhover(absolute, 100px, 10px);
    }
    .icon-center {
      @include threeposition(
        0,
        translateY(-50%),
        0.3s ease-in-out,
        absolute,
        100px,
        107px,
        #ffffffad,
        grey,
        center,
        center,
        3px 10px,
        $lightgray
      );
      .left-icon {
        border-right: 2px solid rgba(128, 128, 128, 0.632);
      }
    }
    .oclockcontainer {
      @include oclock(absolute, 70px, 27px, space-between, center);
      .time {
        p {
          @include p(0, #ff4136, white, 50px, 50px);
        }
      }
    }
    &:hover {
      .icon-center {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .name {
      @include name(Poppins, sans-serif, 600);
    }
    .red {
      color: $maincolor;
      font-weight: 600;
    }
    .gray {
      text-decoration: line-through;
      color: $lightgray;
    }
  }
}
#foot {
  @include flex2(14px 16px, column, center, center);
  background-image: url(https://cdn.shopify.com/s/files/1/2300/9895/files/1.jpg?v=1504075577);
  .same {
    color: $darkgary;
    font-size: 18px;
    font-weight: 500;
  }
  .footerlogo {
    img {
      width: 20%;
    }
    p {
      padding-top: 16px;
      color: $lightgray;
    }
  }
  .textfoot {
    color: $lightgray;
  }
  form {
    input {
      padding: 8px 24px;
      border: darkgrey 1px solid;
    }
    svg {
      @include svg(darkgrey 1px solid, 45px, 42px, gray, 5px);
    }
  }
  .footicons {
    svg {
      @include svg(1px solid, auto, auto, $lightgray, auto, 2px, 0%);
    }
  }
  .end {
    border-top: 1px solid gray;
    @include flex(center, space-between);
    width: 90%;
    #end {
      @include flex(center, space-between);
      gap: 16px;
      li {
        @include li(none, none);
        a {
          @include alink(none, $darkgary, auto);
        }
      }
    }
  }
}
@media screen and (min-width: 390px) and (max-width: 414px) {
  .end {
    flex-direction: column;
  }
}
#secondpage {
  input {
    @include input(100%, 12px, 12px 10px, 10px, column, center);
  }
  .btn {
    width: 100%;
    border-radius: 12px;
    padding: 12px 10px;
  }
}
.title {
  text-align: center;
  color: $maincolor;
}
.modal-body {
  .modalimg {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .modaltext {
    .bold {
      font-size: large;
      font-weight: 500;
    }
    .redtext {
      color: $maincolor;
    }
    .small {
      font-size: 12px;
    }
    #increment,
    #decirement {
      @include vso(50%, $maincolor, white, 3px 8px, none);
    }
  }
}
